<!doctype html>
<html>
<head>
<title>Kill Darius</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<!-- Bootstrap Core CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">

<!-- MetisMenu CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.css') }}">

<!-- Timeline CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/timeline.css') }}">

<!-- Select2 CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/select2.min.css') }}">

 <!-- Custom CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}">

<!-- Custom Fonts -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div class=wrapper>

  {% include 'navigation.html' %}

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}


  {% block body %}{% endblock %}

</div>

  <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='dist/js/sb-admin-2.js') }}"></script>

    <!-- Select2 JavaScript -->
    <script src="{{ url_for('static', filename='dist/js/select2.min.js') }}"></script>

    <script>
        $('#renameGroup').on('shown.bs.modal', function (e) {
            $('#name').focus();
            var invoker = $(e.relatedTarget);
            $(this).find('input[name=group_id]').val($(invoker).data('group_id'));
            $(this).find('input[name=name]').val($(invoker).data('name'));
            if ($(invoker).data('description') != 'None')
                $(this).find('textarea#description').text($(invoker).data('description'));
            else
                $(this).find('textarea#description').text('');
        })
        $('#createTask').on('shown.bs.modal', function (e) {
            $('#name').focus();
            var invoker = $(e.relatedTarget);
            $(this).find('input[name=group_id]').val($(invoker).data('group_id'));
        })
        $(document).ready(function() {
            $(".select-tags").select2({
                tags: true,
                theme: "classic"
            })

            // open modal for set user password
            {% if promt %}
                $('#passwordSet').modal('show');
            {% endif %}

            $(".flash").hide(5000);

        });

    </script>
</body>
</html>