<!-- modal na vytvorenie noveho tasku -->
<div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTasklLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/task/create/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vytvorenie úlohy do skupiny úloh</h4>
      </div>
      <div class="modal-body">
        <p>
            Vytvorenej úlohe je možné prideľovať progress, ktorý sa zobrazuje
            v podobe <i class="fa fa-check"></i> úspešné čiastkove splnenie úlohy,
            alebo neúspešné plnenie <i class="fa fa-times"></i>

        </p>
        <div>
             <div class="form-group">
                <label for="name" class="control-label">Názov :</label>
                <input type="text" size="50" name="taskname" id="taskname" class="form-control" autofocus/>
             </div>
             <div class="form-group">
                <label for="count" class="control-label">Trvanie úlohy v dňoch :</label>
                 <i class="fa fa-question-circle"></i>
                <input type="number" name="count" id="count" min="0" max="30" step="1" value="7" class="form-control"/>
             </div>
             <div class="form-group">
                 <input type="checkbox" name="reset" id="reset" checked="true" />
                  Resetovanie úlohy ak sa 2x nepodarí splniť čiastková úloha <i class="fa fa-warning"></i>
             </div>
             <div class="form-group">
                 <input type="checkbox" name="once" id="once" checked="true" />
                 Plnenie úlohy maximálne 1x za deň
             </div>
            <input type="hidden" name="key" value="{{ key }}"/>
            <input type="hidden" name="group_id" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Uložiť</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na vytvorenie novej skupiny -->
<div class="modal fade" id="createGroup" tabindex="-1" aria-labelledby="createGrouplLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/group/create/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vytvorenie skupiny</h4>
      </div>
      <div class="modal-body">
        <p>
            Úlohy sú vkladané do skupín pre lepšiu prehladnosť. <br/>Skupiny sú zoraďované v časovej postupnosti z dola na hor.<br/>

        </p>
        <div class="form-group">
            <label for="name" class="control-label">Názov :</label>
            <input type="text" size="50" name="name" id="name" class="form-control" autofocus />
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Popis :</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>
        <input type="hidden" name="key" value="{{ key }}"/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Vytvoriť</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- modal na premenovanie skupiny -->
<div class="modal fade" id="renameGroup" tabindex="-1" aria-labelledby="renameGrouplLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/group/rename/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editácia skupiny</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
            <label for="name" class="control-label">Názov :</label>
            <input type="text" size="50" name="name" id="name" class="form-control" autofocus/>
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Popis :</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>
        <input type="hidden" name="key" value="{{ key }}"/>
        <input type="hidden" id="group_id" name="group_id" />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Premenovať</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na vytvorenie noveho timelinu -->
<div class="modal fade" id="createTimeline" tabindex="-1" aria-labelledby="createTimelineLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/create/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vytvorenie nového timelinu</h4>
      </div>
      <div class="modal-body">
        <p>
            Timeline obsahuje skupiny úloh zoraďované v časovej postupnosti.

        </p>
        <div class="form-group">
            <label for="name" class="control-label">Názov :</label>
            <input type="text" size="50" name="name" id="name" class="form-control" autofocus/>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Vytvoriť</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na zdielanie timelinu -->
<div class="modal fade" id="shareTimeline" tabindex="-1" aria-labelledby="shareTimelineLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/share/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Zdielanie timelinu</h4>
      </div>
      <div class="modal-body">
        <p>
           Zdielaním umožníte iným ľuďom vytvárať spoločné úlohy a navzájom sa<br/> kontrolovať v ich plnení.
            Po odoslaní zdielania, príde vybranému človeku notifikačný email<br/> s linkom na zdielaný timeline.
            Po potvrdení zdielania, si môže každý vytvárať<br/> a spravovať svoje úlohy na timeline.
        </p>

        <div class="form-group">
            <label for="emails" class="control-label">Vložte kontakty :</label>
            <select id="emails" name="emails" size="50" tabindex="-1" class="select-tags form-control" multiple="" style="width: 100%;">
              <!--option value="1">Mori</option-->
            </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Vytvoriť</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na zmenu hesla -->
<div class="modal fade" id="passwordSet" tabindex="-1" aria-labelledby="passwordSetLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/user/password/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nastavenie prihlasovacieho hesla</h4>
      </div>
      <div class="modal-body">
        <p>
            Na nastavenie hesla nie sú žiadne obmedzenia. <br/> Prihlasovacím menom a heslom sa prihlasujete do aplikácie.
        </p>
      <br/>
        <div class="form-group">
            <label for="name" class="control-label">Heslo :</label>
            <input type="password" name="password" id="password" class="form-control" autofocus/>
        </div>
        <div class="form-group">
            <label for="password2" class="control-label">Heslo ešte raz:</label>
            <input type="password" name="password2" id="password2" class="form-control"/>
        </div>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Nastaviť</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na zmenu hesla -->
<div class="modal fade" id="profileSet" tabindex="-1" aria-labelledby="profileSetLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/user/profile/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nastavenie používateľského profilu</h4>
      </div>
      <div class="modal-body">
        <p>
            V systéme je možné používať alias (nickname), <br/>
            ktorý sa bude zobrazovať pri Vašich úlohách.<br/>
            Tiež je možné vybrať svoju vlastnú farbu zobrazeného aliasu.
        </p>
      <br/>
        <div class="form-group">
            <label for="alias" class="control-label">Alias (nickname) :</label>
            <input type="text" name="alias" id="alias" class="form-control" autofocus/>
        </div>
        <div class="form-group">
            <label for="icon_color" class="control-label">Farba :</label>
            <input type="radio" name="icon_color" id="icon_color" value="default" checked/>
            <span class="btn btn-outline btn-default btn-xs">darius</span>
            <input type="radio" name="icon_color" id="icon_color" value="primary" />
            <span class="btn btn-outline btn-primary btn-xs">darius</span>
            <input type="radio" name="icon_color" id="icon_color" value="success" />
            <span class="btn btn-outline btn-success btn-xs">darius</span>
            <input type="radio" name="icon_color" id="icon_color" value="warning" />
            <span class="btn btn-outline btn-warning btn-xs">darius</span>
            <input type="radio" name="icon_color" id="icon_color" value="danger" />
            <span class="btn btn-outline btn-danger btn-xs">darius</span>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Nastaviť</button>
      </div>
      </form>
    </div>
  </div>
</div>
