<!-- modal na vytvorenie noveho tasku -->
<div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTasklLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/task/create/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vytvorenie úlohy do skupiny úloh</h4>
      </div>
      <div class="modal-body">
        <p>
            Vytvorenej úlohe je možné prideľovať progress, ktorý sa zobrazuje
            v podobe <i class="fa fa-check"></i> úspešné čiastkove splnenie úlohy,
            alebo neúspešné plnenie <i class="fa fa-times"></i>

        </p>
        <div>
             <div class="form-group">
                <label for="name" class="control-label">Názov :</label>
                <input type="text" size="50" name="taskname" id="taskname" class="form-control" autofocus/>
             </div>
             <div class="form-group">
                <label for="count" class="control-label">Trvanie úlohy v dňoch :</label>
                 <i class="fa fa-question-circle"></i>
                <input type="number" name="count" id="count" min="0" max="30" step="1" value="7" class="form-control"/>
             </div>
             <div class="form-group">
                 <i class="fa fa-bomb"></i> Resetovanie úlohy ak sa 2x nepodarí splniť čiastková úloha
                <input type="checkbox" name="reset" id="reset" checked="true" />
             </div>
            <input type="hidden" name="key" value="{{ key }}"/>
            <input type="hidden" name="group_id" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Uložiť</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na vytvorenie novej skupiny -->
<div class="modal fade" id="createGroup" tabindex="-1" aria-labelledby="createGrouplLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/group/create/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vytvorenie skupiny</h4>
      </div>
      <div class="modal-body">
        <p>
            TODO: tu bude nejaky strucny popis co je to za akciu ..

        </p>
        <div class="form-group">
            <label for="name" class="control-label">Názov :</label>
            <input type="text" size="50" name="name" id="name" class="form-control" autofocus />
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Popis :</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>
        <input type="hidden" name="key" value="{{ key }}"/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Vytvoriť</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- modal na premenovanie skupiny -->
<div class="modal fade" id="renameGroup" tabindex="-1" aria-labelledby="renameGrouplLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/group/rename/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editácia skupiny</h4>
      </div>
      <div class="modal-body">
        <p>
            TODO: tu bude nejaky strucny popis co je to za akciu ..

        </p>
        <div class="form-group">
            <label for="name" class="control-label">Názov :</label>
            <input type="text" size="50" name="name" id="name" class="form-control" autofocus/>
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Popis :</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>
        <input type="hidden" name="key" value="{{ key }}"/>
        <input type="hidden" id="group_id" name="group_id" />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Premenovať</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na vytvorenie noveho timelinu -->
<div class="modal fade" id="createTimeline" tabindex="-1" aria-labelledby="createTimelineLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/create/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Vytvorenie nového timelinu</h4>
      </div>
      <div class="modal-body">
        <p>
            TODO: tu bude nejaky strucny popis co je to za akciu ..

        </p>
        <div class="form-group">
            <label for="name" class="control-label">Názov :</label>
            <input type="text" size="50" name="name" id="name" class="form-control" autofocus/>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Vytvoriť</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na zdielanie timelinu -->
<div class="modal fade" id="shareTimeline" tabindex="-1" aria-labelledby="shareTimelineLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/timeline/share/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Zdielanie timelinu</h4>
      </div>
      <div class="modal-body">
        <p>
            TODO: tu bude nejaky strucny popis co je to za akciu ..

        </p>

        <div class="form-group">
            <label for="emails" class="control-label">Vložte kontakty :</label>
            <select id="emails" name="emails" size="50" tabindex="-1" class="select-tags form-control" multiple="" style="width: 100%;">
              <!--option value="1">Mori</option-->
            </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Vytvoriť</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal na zmenu hesla -->
<div class="modal fade" id="passwordSet" tabindex="-1" aria-labelledby="passwordSetLabel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/user/password/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nastavenie hesla</h4>
      </div>
      <div class="modal-body">
        <p>
            Systém Vás registroval, ale je potrebne si nastaviť prihlasovacie heslo.<br/>
            Na vytvorenie hesla nie sú žiadne obmedzenia.
        </p>
      <br/>
        <div class="form-group">
            <label for="name" class="control-label">Heslo :</label>
            <input type="password" name="password" id="password" class="form-control" autofocus/>
        </div>
        <div class="form-group">
            <label for="password2" class="control-label">Heslo ešte raz:</label>
            <input type="password" name="password2" id="password2" class="form-control"/>
        </div>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        <button type="submit" class="btn btn-primary">Nastaviť</button>
      </div>
      </form>
    </div>
  </div>
</div>
