{% block navigation %}
<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Projekt Kill Darius</a>
            </div>
            <!-- /.navbar-header -->

            {% if session.username %}
            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-th-large"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% for timeline in timelines %}
                        <li>
                            <a href="/timeline/{{ timeline.key }}"><i class="fa fa-list-alt fa-fw"></i> {{ timeline.name }}</a>
                        </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#createTimeline">Vytvoriť nový timeline</a>
                        </li>
                    </ul>
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        {% for group in groups %}
                            {% if group.id in progression %}
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>{{ group.name }}</strong>
                                            <span class="pull-right text-muted">na {{ progression[group.id] }}% dokončené</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ progression[group.id] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progression[group.id] }}%">
                                                <span class="sr-only">Dokončené</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        {{ session.username }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Profil</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Odhlásiť</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            {% endif %}
            <!-- /.navbar-static-side -->
        </nav>

{% endblock %}