{% extends "layout.html" %}
{% block body %}
<!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-clock-o fa-fw"></i>
                        {% for timeline in timelines %}
                            {% if timeline.key==key %}
                                {{ timeline.name }}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-7">
                        {% if users.__len__()>1 %}
                            <span> spolocne zdielaju timeline : </span>
                            {% for user in users %}
                                <span class="btn btn-outline btn-{{ user.icon_color }} btn-xs">{{ user.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#createGroup">
                            <button type="button" class="btn btn-outline btn-default"><i class="fa fa-plus"></i> Vytvoriť novú skupinu</button>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#shareTimeline">
                            <button type="button" class="btn btn-outline btn-default"><i class="fa fa-share-alt"></i> Zdielať timeline</button>
                        </a>
                    </div>
                 </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    {% for group in groups %}

                    <li class="{{ loop.cycle('', 'timeline-inverted') }}">
                        <div class="timeline-badge {{ loop.cycle('danger', 'info', 'warning') }}"><i class="fa fa-bullseye"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{ group.name }}</h4>
                            </div>
                            <div class="timeline-body">
                               {% if group.description %}
                               <p>
                                    <small class="text-muted">{{ group.description }}</small>
                               </p>
                               </br>
                               {% endif %}
                               {% for user in users %}
                                    <span class="btn btn-outline btn-{{ user.icon_color }} btn-xs">{{ user.name }}</span>

                                   <div style="margin-top:10px;">

                                   {% for task in group.tasks|sort %}
                                       {% if user!=task.user %}
                                            {% continue %}
                                       {% endif %}

                                     <div class="row">
                                       {% set done=False %}
                                       {% if task.count <= task.progress.__len__() %}
                                           {% set done=True %}
                                       {% endif %}

                                       {% if done %}
                                           {% set title="Úloha bola dokončená" %}
                                       {% else %}
                                           {% set title="Trvanie úlohy : "+task.count|string+" dní" %}
                                       {% endif %}
                                       <div class="col-md-4{% if done %} completed{% endif %}"
                                           title="{{ title }}">

                                              {% if task.reset %}
                                                <small title="Spustené resetovanie progresu úlohy po dvoch neúspechoch !" style="text-decoration: underline;">
                                                  {{task.name}}
                                                </small>
                                              {% else %}
                                                <small>
                                                  {{task.name}}
                                                </small>
                                              {% endif %}

                                       </div>
                                       <div class="col-md-5">
                                       {% if not done %}

                                          {% for p in task.progress|sort(attribute='id') %}
                                            {% if p.done %}
                                              <span class="btn btn btn-success btn-xs">&nbsp;</span>
                                              <!--i class="fa fa-check"></i-->
                                            {% else %}
                                              <span class="btn btn btn-danger btn-xs">&nbsp;</span>
                                              <!--i class="fa fa-times"></i-->
                                            {% endif %}
                                          {% endfor %}
                                          {% for p in range(task.count - task.progress.__len__()) %}
                                                <span class="btn btn-outline btn-default btn-xs">&nbsp;</span>
                                          {% endfor %}

                                       {% endif %}
                                       </div>
                                       <div class="col-md-3">
                                          {% if task.count > task.progress.__len__() %}
                                            <a href="/timeline/task/pass/{{ task.id }}" title="splnenie úlohy"><button class="btn btn-default btn-circle"><i class="fa fa-thumbs-o-up"></i></button></a>
                                            <a href="/timeline/task/fail/{{ task.id }}" title="nesplnenie úlohy"><button class="btn btn-default btn-circle"><i class="fa fa-thumbs-o-down"></i></button></a>
                                          {% endif %}
                                          <a href="/timeline/task/remove/{{ task.id }}" title="vymazanie úlohy"><button class="btn btn-default btn-circle"><i class="fa fa-times"></i></button></a>
                                       </div>
                                    </div>
                                    {% endfor %}

                                   </div>

                                {% endfor %}
                              <!-- control panel -->
                              <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-gear"></i>  <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" data-toggle="modal"
                                                data-group_id={{ group.id }}
                                                data-target="#createTask"><i class="fa fa-plus"></i> Vytvoriť novú úlohu</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal"
                                               data-group_id={{ group.id }}
                                               data-name="{{ group.name }}"
                                               data-description="{{ group.description }}"
                                               data-target="#renameGroup"><i class="fa fa-edit"></i> Upraviť skupinu</a>
                                        </li>
                                        {% if not group.tasks %}
                                        <li class="divider"></li>
                                        <li>
                                            <a href="/timeline/group/delete/{{ group.id }}"><i class="fa fa-times"></i> Vymazať skupinu</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                              </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    {% include 'modal.html' %}
{% endblock %}